nav{
    background : #2c4d63;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
  body{
    background-color: #eee;
  }
  nav ul li {
    margin: 0.3rem;
    padding: 5px;
  }

  nav ul li a:after, a.active:after {
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
  }
  nav ul li a:hover:after{
    transform-origin: bottom left;
    transform: scaleX(1);       
  }
  nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    margin-top: 0.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 15px ;
  }
  nav ul li a:hover{
    color: white;
  }
  nav .navbar-brand{
    color: #eee;
  }