{% extends 'layout.html' %}
{% block content %}
<div class="about-section">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            In these dreadful corona pandemic times, the world and its people are suffering and the doctors along with the paramedical staff
            are putting all their efforts and time into treating people. So we have come up as an endeavor to assist the people further by 
            providing them <b> 3 A's Availability, Accessibility and Affordability </b> through our products. Using our webapp people will be 
            able to find beds, ventilators, oxygen cylinders and medicines etc directly from the suppliers. Our main aim is to improve access 
            of the common people to these necessities and assist them as much as we can.
        </p>
    </div>
</div>

<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Team</h2>
        <p>For this great endeavor, The people involved are :</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="https://avatars.githubusercontent.com/u/49789627?v=4" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Aayan Agarwal</h4>
              <span>Back End developer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="https://avatars.githubusercontent.com/u/64609354?v=4" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Pulkit Handa</h4>
              <span>Front End developer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="https://avatars.githubusercontent.com/u/29028619?v=4" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>aquaticmorpho</h4>
              <span>Back End developer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="https://avatars.githubusercontent.com/u/49155095?v=4" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Yuvraaj Narula</h4>
              <span>Front End developer</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

{% endblock %}