<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    {% if title %}
    <title> COVID-19 {{title}} </title>
    {% else %}
    <title> COVID19 </title>
    {% endif %}

</head>

<body>
    <div class="navbar">
        <p> Navbar </p>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>